@import "../../../../styles.scss";

.price-container {
  height: calc(100vh - 126px);
  .last-update-date-label {
    margin: 16px 0 8px;
    font-size: $font-size-m;
    font-style: italic;
  }

  .price-table-container {
    max-height: calc(100vh - 156px);
    width: 98%;
    margin: auto;
    overflow: auto;
    box-shadow: -1px 3px 9px 0px rgb(0 0 0 / 50%);

    .price-table {
      width: 100%;

      .header-row {
        background: $background-color;
        .header-label {
          padding: 8px;
          border-right: 1px solid $table-border;
        }
        .header-label:last-child {
          border-right: none;
        }
      }

      .row-data {
        background: $background-color;

        .value {
          padding: 4px 6px;
          border-right: 1px solid $table-border;
        }
        .value:last-child {
          border-right: none;
        }
      }
      .row-data:nth-child(2n + 1) {
        background: $catskill-white;
      }
    }

    .mat-column-symbol {
      width: 50px;
      min-width: 150px;
      padding-right: 8px;
      font-size: $font-size-l;
      text-align: left;
      cursor: pointer;
    }
    .mat-column-symbol:hover {
      text-decoration: underline;
    }

    .mat-column-ltp {
      min-width: 80px;
      width: 100px;
      padding-left: 16px;
      text-align: right;
    }

    .mat-column-pclose {
      min-width: 60px;
      width: 100px;
      text-align: right;
    }

    .mat-column-change {
      min-width: 100px;
      width: 140px;
      font-weight: bold;
      text-align: right;
    }
    .mat-column-open {
      min-width: 64px;
      width: 80px;
      text-align: right;
    }
    .mat-column-high {
      min-width: 64px;
      width: 80px;
      text-align: right;
    }
    .mat-column-low {
      min-width: 64px;
      width: 80px;
      text-align: right;
    }
    .mat-column-volume {
      min-width: 90px;
      width: 120px;
      text-align: right;
    }

    .high {
      .mat-column-change {
        color: $green;
      }
      .mat-column-change::before {
        content: "+";
        font-size: $font-size-b;
        margin-right: 8px;
        color: $green;
      }
    }
    .low {
      .mat-column-change {
        color: $red;
      }
      .mat-column-change::before {
        content: "-";
        font-size: $font-size-l;
        margin-right: 8px;
        color: $red;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    overflow-y: scroll;
    background: $scroll-bar-background;
    box-shadow: inset 0 0 4px $scroll-bar-shadow;
  }

  ::-webkit-scrollbar-thumb {
    background: $scroll-bar-fill;
    border-radius: 2px;
  }
}
