@import "../../../../styles.scss";

.company-container {
  height: calc(100vh - 118px);

  .company-list-container {
    max-height: calc(100vh - 126px);
    width: 98%;
    overflow: auto;
    box-shadow: -1px 3px 9px 0px rgb(0 0 0 / 50%);
    margin: 8px auto;
    .company-table {
      border-spacing: unset;
      width: 100%;

      .header-row {
        background: $background-color;

        .header-label {
          text-align: left;
          border-bottom: 2px solid $table-border;
          padding: 8px 6px;
          border-right: 1px solid $table-border;
        }

        .header-label:last-child {
          border-right: none;
        }
      }

      .row-data {
        background: $background-color;
        .value {
          border-right: 1px solid $table-border;
          padding: 6px;
        }
        .value:last-child {
          border-right: none;
        }
      }
      .row-data:nth-child(2n + 1) {
        background: $catskill-white;
      }

      .mat-column-name {
        min-width: 400px;
      }
      .mat-column-symbol {
        min-width: 80px;
        width: 150px;
      }

      .mat-column-sector {
        min-width: 150px;
        width: 360px;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    overflow-y: scroll;
    background: $scroll-bar-background;
    box-shadow: inset 0 0 4px $scroll-bar-shadow;
  }

  ::-webkit-scrollbar-thumb {
    background: $scroll-bar-fill;
    border-radius: 2px;
  }
}
