@import "../../../../styles.scss";

.alert-container {
  mat-form-field {
    width: 100%;
  }

  .group-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .form-fields {
      width: 48%;
    }
  }
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow-y: scroll;
  background: $scroll-bar-background;
  box-shadow: inset 0 0 4px $scroll-bar-shadow;
}

::-webkit-scrollbar-thumb {
  background: $scroll-bar-fill;
  border-radius: 2px;
}

@media screen and(max-width: 858px) {
  .alert-container {
    .group-container {
      display: block;
      .form-fields {
        width: 100%;
      }
    }
  }
}
