@import "../../auth.component.scss";

.main-container {
  width: 60%;
  margin: 24px auto;
  .login-container {
    display: flex;
    .login-section {
      width: 40%;
      padding-bottom: 24px;
      height: auto;
      .header {
        margin: 18px 0;
        padding-left: 24px;
        font-size: $font-size-l;
        font-weight: $bold;
      }
      .link-label {
        color: $azure-radiance;
        text-decoration: underline;
        cursor: pointer;
      }

      .link-container {
        margin-top: 8px;
      }
      .action-container {
        margin-top: 8px;
      }
    }
    .side-background-section {
      background-color: chartreuse;
      height: auto;
      width: 60%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 80%;
  }
}

@media screen and (max-width: 858px) {
  .main-container {
    width: 90%;

    .login-container {
      justify-content: center;
      .login-section {
        width: 70%;
      }

      .side-background-section {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 620px) {
  .main-container {
    .login-container {
      .login-section {
        width: 90%;
      }
    }
  }
}
