<nav>
  <div class="logo">
    <img class="icon logo-icon" src="assets/images/logo.svg" alt="logo" />
    <img
      class="icon logo-icon-light"
      src="assets/images/logo-white.svg"
      alt="logo"
    />
  </div>

  <img
    (click)="toggleNav()"
    src="assets/images/menu-bars.svg"
    class="menu-icon"
    alt="menu-icon"
  />

  <ul [ngClass]="{ 'show-nav': showNav }">
    <li>
      <a
        (click)="navigateTo(['live'])"
        class="live"
        [ngClass]="{ active: activeLink === 'live' }"
        >Live</a
      >
    </li>
    <li>
      <a
        (click)="navigateTo([''])"
        [ngClass]="{ active: activeLink === 'market' }"
        >Market</a
      >
    </li>
    <li>
      <a
        (click)="navigateTo(['portfolio'])"
        [ngClass]="{ active: activeLink === 'portfolio' }"
        >portfolio</a
      >
    </li>
    <li>
      <a
        (click)="navigateTo(['portfolio', 'alerts'])"
        [ngClass]="{ active: activeLink === 'alert' }"
        >Alerts</a
      >
    </li>
    <li>
      <a
        (click)="navigateTo(['portfolio', 'watch-list'])"
        [ngClass]="{ active: activeLink === 'watchlist' }"
        >Watch list</a
      >
    </li>
    <li *ngIf="!isAuthenticated">
      <a
        (click)="navigateTo(['auth', 'login'])"
        [ngClass]="{ active: activeLink === 'login' }"
        >login</a
      >
    </li>
    <li *ngIf="!isAuthenticated">
      <a
        (click)="navigateTo(['auth', 'signup'])"
        [ngClass]="{ active: activeLink === 'signup' }"
        >signup</a
      >
    </li>
    <li *ngIf="isAuthenticated && user">{{ user.email }}</li>
    <li *ngIf="isAuthenticated"><a (click)="logout()">logout</a></li>
  </ul>
</nav>
