<nav>
  <div class="logo">
    <img class="icon logo-icon" src="assets/images/logo.svg" alt="logo" />
    <img
      class="icon logo-icon-light"
      src="assets/images/logo-white.svg"
      alt="logo"
    />
  </div>

  <img
    (click)="toogleNav()"
    src="assets/images/menu-bars.svg"
    class="menu-icon"
    alt="menu-icon"
  />

  <ul [ngClass]="{ 'show-nav': showNav }">
    <li>
      <a (click)="navigateTo(['live'])" class="live">Live</a>
    </li>
    <li><a (click)="navigateTo([''])" class="active">Market</a></li>
    <li><a (click)="navigateTo(['portfolio'])">portfolio</a></li>
    <li *ngIf="!isAuthenticated">
      <a (click)="navigateTo(['auth', 'login'])">login</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a (click)="navigateTo(['auth', 'signup'])">signup</a>
    </li>
    <li *ngIf="isAuthenticated && user">{{ user.email }}</li>
    <li *ngIf="isAuthenticated"><a (click)="logout()">logout</a></li>
  </ul>
</nav>
