// font
// size
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-b: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;
$font-size-xxxl: 32px;
$font-size-xxxxl: 36px;

// weight
$normal: 400;
$semi-blod: 600;
$bold: 800;

// colors
$white: #fff;
$black: #000;
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$dark-green: #15651f;
$azure-radiance: #0082e6;
$pickled-bluewood: #2c3e50;
$background-color: #f6fcff;
